.profile-title {
	line-height: 32px;
	font-weight: 800;
	font-size: 19px;
	color: rgb(20, 23, 26);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.profile .username {
	color: rgb(101, 119, 134);
	font-weight: 400;
	font-size: 14px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
	line-height: 1.3125;
}

.my-app {
	background-color: #fbfbfd;
	color: #3e3f42;
	font-family: Roboto, Arial, sans-serif;
	font-size: 14px;
}


/* My navbar */
.my-header {
}

.my-navbar {
	padding: 1rem 1.875rem;
	box-shadow: 0 0 1px #EAEDF3;
}

.my-navbar__logo {
	display: flex;
	align-items: center;
	margin-right: 1.875rem;
	font-size: 1rem;
	font-weight: 500;
}

.navbar-light .my-navbar__logo {
	color: #3E3F42;
}

.my-navbar__logo-icon {
	margin-right: .875rem;
}

.my-navbar-button {
	padding: 0;
	border: none;
	background: none;
}

.my-navbar-button + .my-navbar-button {
	margin-left: 1rem;
}

.navbar-nav {
	padding-left: .937rem;
	border-left: 1px solid #EAEDF3;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: .937rem;
	padding-left: .937rem;
}

.navbar-light .navbar-nav .nav-link {
	color: #6B6C6F;
}

.navbar-light .navbar-nav .active > .nav-link {
	color: #1665D8;
}

.my-app__header {
	padding-top: 1.875rem;
	padding-bottom: 1.875rem;
	border-bottom: 1px solid #eee;
	background-color: #fff;
}

.my-app__header-inner {
	display: flex;
}

.my-app__header-text {
	flex: 1;
}

.my-app__header-title {
	margin: 0 0 .625rem;
	font-size: 22px;
	font-weight: 400;
	line-height: 32px;
}

.my-action-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: none;
	background: none;
	line-height: 1;
}

.my-action-button:hover,
.my-action-button:active,
.my-action-button:focus {
	outline: none;
}

.my-action-button__icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 54px;
	height: 54px;
	margin-bottom: .875rem;
	border: 1px solid #E2E5ED;
	border-radius: 54px;
	color: #1665D8;
	object-fit: none;
}

.my-app__body {
	padding-top: 1.875rem;
	padding-bottom: 1.875rem;
}

.my-card:not(:last-child) {
	margin-bottom: 1.875rem;
}

.my-card__header {
	display: flex;
	padding: 1.5rem 1.875rem;
	border-width: 0 0 1px;
	border-color: rgba(0, 0, 0, .125);
	background: none;
}

.my-card__header-title {
	flex: 1;
	margin: 0;
	font-size: 18px;
	font-weight: 500;
}

.my-card__header-link {
	color: #9ea0a5;
}

.my-card__header-link:hover,
.my-card__header-link:focus {
	color: #9ea0a5;
}

.my-card__body {
	padding: 1.5rem 1.875rem;
}

.my-list-item {
	display: flex;
	padding: 1rem 1.875rem;
}

.my-list-item__date,
.my-list-item__text,
.my-list-item__fee {
	display: flex;
	flex-direction: column;
}

.my-list-item__date {
	flex-direction: column-reverse;
	margin-right: 25px;
	color: #9ea0a5;
}

.my-list-item__date-day {
	font-size: 18px;
	line-height: 22px;
}

.my-list-item__date-month {
	margin-bottom: 4px;
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
	text-transform: uppercase;
}

.my-list-item__text {
	flex: 1;
}

.my-list-item__text-title {
	margin: 0 0 7px;
	font-size: 14px;
	font-weight: 500;
}

.my-list-item__text-description {
	margin: 0;
	color: #9ea0a5;
	font-size: 12px;
	line-height: 14px;
}

.my-list-item__fee {
	text-align: right;
}

.my-list-item__fee-delta {
	color: #3BAD4B;
	font-weight: 500;
}

.my-list-item__fee-currency {
	color: #9EA0A5;
	font-size: 12px;
}

.my-list-inline li:not(:last-child) {
	margin-bottom: .5rem;
}

@media (min-width: 992px) {
	.my-dl dt {
		float: left;
		color: #9EA0A5;
		font-weight: 400;
	}

	.my-dl dd {
		text-align: right;
	}
}

.my-text-headline {
	margin: 0;
	font-size: 30px;
	font-weight: 400;
}

.my-text-overline {
	margin-bottom: .75rem;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
}

.my-divider {
	margin: 1.25rem 0;
}

.my-input {
	max-width: 186px;
}

.my-select {
	border-color: #D8DCE6;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .08);
	font-size: 14px;
}

@media (max-width: 1199px) {
	.container {
		max-width: 100%;
	}
}

.my-alert {
	display: flex;
	align-items: flex-start;
	margin-bottom: 1.875rem;
	padding-top: .937rem;
	padding-bottom: .937rem;
	border: none;
	box-shadow: none;
}

.my-alert.alert-info {
	background-color: #1665D8;
	color: #fff;
}

.my-alert__icon {
	margin-right: 1.25rem;
}

ul.timeline {
	list-style-type: none;
	position: relative;
}
ul.timeline:before {
	content: ' ';
	background: #d4d9df;
	display: inline-block;
	position: absolute;
	left: 0px;
	width: 2px;
	height: 100%;
	z-index: 1;
}
ul.timeline > li {
	margin: 20px 0;
	padding-left: 20px;
}
ul.timeline > li:before {
	content: ' ';
	background: white;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	border: 3px solid #22c0e8;
	left: -9px;
	width: 20px;
	height: 20px;
	z-index: 1;
}