label {
	margin-bottom: unset !important;
}

.fs-10 {
	font-size: 10px !important;
}

.fs-11 {
	font-size: 11px !important;
}

.fs-12 {
	font-size: 12px !important;
}

.fs-13 {
	font-size: 13px !important;
}

.fs-14 {
	font-size: 14px !important;
}

.fs-15 {
	font-size: 15px !important;
}

.fs-16 {
	font-size: 16px !important;
}

.fs-17 {
	font-size: 17px !important;
}

.fs-18 {
	font-size: 18px !important;
}

.fs-19 {
	font-size: 19px !important;
}

.fs-20 {
	font-size: 20px !important;
}

.fs-21 {
	font-size: 21px !important;
}

.fs-22 {
	font-size: 22px !important;
}

.margin-unset {
	margin: unset !important;
}

.padding-unset {
	padding: unset !important;
}

.text-none {
	display: none !important;
}

.text-blur {
	opacity: 0.7;
}

.text-bold {
	font-weight: bold !important;
}

.main {
	max-width: 400px;
	margin: 0 auto;
	min-width: 380px;
}

.login-or {
	position: relative;
	font-size: 18px;
	color: #aaa;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.span-or {
	display: block;
	position: absolute;
	left: 50%;
	top: -2px;
	margin-left: -25px;
	background-color: #fff;
	width: 50px;
	text-align: center;
}

.hr-or {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.btn-google {
	background: #DF4B3B;
	color: #fff
}

.text-black {
	color: black;
}

.page-container {
	background-color: #f7f6f5;
	padding-top: 20px;
	padding-bottom: 60px;
}

.user-menu-image img {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.header_area .navbar .nav .nav-item .nav-link {
	text-transform: capitalize !important;
}

.cursor {
	cursor: pointer;
}

.none {
	display: none !important;
}

.text-block {
	display: block !important;
}

.pull-right {
	float: right;
}

input[type="file"] {
	line-height: 1.21428571em;
	padding: .67857143em 1em;
	font-size: 1em;
	background: #fff;
	border: 1px solid rgba(34,36,38,.15);
	color: rgba(0,0,0,.87);
	border-radius: .28571429rem;
}

.margin-auto {
	margin: auto;
}

.right-align {
	text-align: right;
}

.left-align {
	text-align: left;
}